* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
  background-image: linear-gradient(292deg, rgba(150, 150, 150, 0.03) 0%, rgba(150, 150, 150, 0.03) 20%, rgba(151, 151, 151, 0.03) 20%, rgba(151, 151, 151, 0.03) 40%, rgba(215, 215, 215, 0.03) 40%, rgba(215, 215, 215, 0.03) 60%, rgba(254, 254, 254, 0.03) 60%, rgba(254, 254, 254, 0.03) 80%, rgba(112, 112, 112, 0.03) 80%, rgba(112, 112, 112, 0.03) 100%), linear-gradient(62deg, rgba(34, 34, 34, 0.03) 0%, rgba(34, 34, 34, 0.03) 20%, rgba(171, 171, 171, 0.03) 20%, rgba(171, 171, 171, 0.03) 40%, rgba(206, 206, 206, 0.03) 40%, rgba(206, 206, 206, 0.03) 60%, rgba(210, 210, 210, 0.03) 60%, rgba(210, 210, 210, 0.03) 80%, #151515 80%, #151515 100%), linear-gradient(314deg, rgba(224, 224, 224, 0.03) 0%, rgba(224, 224, 224, 0.03) 20%, rgba(254, 254, 254, 0.03) 20%, rgba(254, 254, 254, 0.03) 40%, rgba(178, 178, 178, 0.03) 40%, rgba(178, 178, 178, 0.03) 60%, rgba(3, 251, 182, 0.13) 60%, rgba(3, 251, 182, 0.13) 80%, rgba(73, 73, 73, 0.03) 80%, rgba(73, 73, 73, 0.03) 100%), linear-gradient(32deg, rgba(182, 182, 182, 0.01) 0%, rgba(182, 182, 182, 0.01) 12.5%, rgba(0, 0, 0, 0.01) 12.5%, rgba(0, 0, 0, 0.01) 25%, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0.1) 37.5%, rgba(143, 143, 143, 0) 37.5%, rgba(143, 143, 143, 0) 50%, rgba(3, 251, 182, 0.13) 50%, rgba(3, 251, 182, 0.13) 62.5%, rgba(92, 92, 92, 0.01) 62.5%, rgba(92, 92, 92, 0.01) 75%, rgba(56, 56, 56, 0.01) 75%, rgba(56, 56, 56, 0.01) 87.5%, rgba(253, 253, 253, 0.01) 87.5%, rgba(253, 253, 253, 0.01) 100%), linear-gradient(247deg, rgba(103, 103, 103, 0) 0%, rgba(103, 103, 103, 0) 12.5%, rgba(240, 240, 240, 0.02) 12.5%, rgba(240, 240, 240, 0.02) 25%, rgba(18, 18, 18, 0.02) 25%, rgba(18, 18, 18, 0.02) 37.5%, rgba(38, 38, 38, 0.02) 37.5%, rgba(38, 38, 38, 0.02) 50%, rgba(246, 246, 246, 0.02) 50%, rgba(246, 246, 246, 0.02) 62.5%, rgba(9, 9, 9, 0.79) 62.5%, rgba(9, 9, 9, 0.79) 75%, rgba(167, 167, 167, 0.02) 75%, rgba(167, 167, 167, 0.02) 87.5%, rgba(86, 86, 86, 0.02) 87.5%, rgba(86, 86, 86, 0.02) 100%), linear-gradient(90deg, #1a1a1a, #1a1a1a);
  color: #f0f0f0;
  font-family: "Rajdhani", sans-serif;
}

header {
  padding: 0.8em 0.9em;
  list-style: none;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}
header nav .create-account {
  border-radius: 50%;
  padding: 0.2em 0.3em 0.12em;
  border: solid 2px rgba(255, 255, 255, 0.568);
  background-color: rgba(26, 26, 26, 0.829);
  box-shadow: 2px 2px 10px black;
}
header a {
  color: #f6f6f6;
}

main {
  padding: 1em 0.7em;
}

.header-nav {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0.2em 0.3em 0.1em;
  border: solid 2px rgba(255, 255, 255, 0.568);
  border-radius: 0.5em;
  min-width: 230px;
  background-color: rgba(26, 26, 26, 0.829);
  box-shadow: 2px 2px 10px black;
}
.header-nav li {
  margin-left: 0.7em;
  font-size: 1.5rem;
}
.header-nav li:nth-child(1) {
  margin-left: 0;
}

.site-intro {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-intro h1 {
  font-size: 2.3rem;
  margin: 0;
}

.about-us {
  clip-path: polygon(0 0, 80% 0%, 98% 96%, 1% 83%);
  background-color: white;
  border-top-left-radius: 0.9em;
  padding: 0.4em 2.8em 0.4em 0.5em;
  border: solid 2px rgba(255, 255, 255, 0.568);
  background-color: rgba(0, 73, 55, 0.829);
}

/*# sourceMappingURL=style.css.map */
