* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    background-color: rgb(27, 26, 26);
    color: rgb(240, 240, 240);
    font-family: 'Rajdhani', sans-serif;
}

.container {
    min-height: 100vh;
}


/*=======================================================
HADER
=======================================================*/

header {
    position: relative;
    height: 40vh;
    background: url(img/backgrounds/background-car.jpg) no-repeat center/cover;
}

.header-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-align: center;
    background-color: rgb(238, 238, 238);
    position: absolute;
    padding: 1.2em 0;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
}

.header-nav .li-container a {
    color: black;
    text-decoration: none;
}

.header-nav .li-container a i {
    font-size: 1.4rem;
}


/*=======================================================
HADER
=======================================================*/


/*=======================================================
INTRO
=======================================================*/

.site-intro {
    text-align: center;
    position: relative;
    padding: .3em 0;
    text-shadow: 1px 1px 1px #000;
}

.site-intro h1 {
    color: rgb(0, 217, 255);
}

.site-intro:before {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.527);
    z-index: -1;
    backdrop-filter: blur(2px);
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}

.site-intro:after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: url(img/backgrounds/background-mechanic.jpg) no-repeat center/cover;
    z-index: -2;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}


/*=======================================================
INTRO
=======================================================*/


/*=======================================================
ABOUT US INTRO
=======================================================*/

.about-us-intro {
    position: relative;
    margin-top: 4em;
    margin-bottom: 4em;
    height: 40vh;
}

.aboutUs-content1 {
    position: absolute;
    width: 75%;
    height: 90%;
    background: rgb(240, 240, 240);
    color: #000;
    z-index: 1;
    backdrop-filter: blur(5px);
    transform: translateX(13%);
    padding: 0 .3em;
    border-radius: .2em;
}

.aboutUs-content2 {
    position: absolute;
    width: 75%;
    height: 90%;
    background-color: #000;
    color: rgb(228, 228, 228);
    z-index: 1;
    transform: translate(24%, 20%);
    padding: 0 .6em;
    border-top-right-radius: 2.7em;
    border-bottom-right-radius: 2.7em;
    border-bottom-left-radius: 2.7em;
}

.aboutUs-content1 h2 {
    margin: 0;
}


/*=======================================================
ABOUT US INTRO
=======================================================*/


/*=======================================================
APPOINTMENTS
=======================================================*/

.appointments {
    background-color: rgb(245, 245, 245);
    color: rgb(27, 26, 26);
    padding: 2em 1.24em;
    position: relative;
    font-weight: bold;
    overflow: hidden;
}

.appointments h2 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    background: rgb(0, 217, 255);
    padding: .2em .5em;
    border-bottom-right-radius: .5em;
    border-bottom: solid 2px rgb(59, 59, 59);
    border-right: solid 2px rgb(59, 59, 59);
}

.appointments p {
    margin: 2em 0;
}

.appointments .fa-calendar-alt {
    position: absolute;
    font-size: 8rem;
    transform: rotate(-45deg);
    bottom: -.25em;
    right: -.2em;
    color: rgba(131, 131, 131, 0.459);
}


/*=======================================================
APPOINTMENTS
=======================================================*/


/*=======================================================
LINK BUTTONS
=======================================================*/

.link-button {
    text-decoration: none;
    color: #000;
    background-color: rgb(0, 217, 255);
    padding: .2em .5em;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
    border-bottom-left-radius: .5em;
    font-weight: bold;
}


/*=======================================================
LINK BUTTONS
=======================================================*/


/*=======================================================
MEDIA QUERY
======================================================*/