.appoints-options {
    @include flexy($dir: column, $align: flex-start, $just: space-evenly);
    min-height: 120px;
    width: 290px;
    & div {
        @include flexy($dir: row, $align: center, $just: space-between);
        width: 100%;
        input {
            min-width: 177px;
        }
    }
    & label {
        font-weight: bolder;
    }
    & #confirm {
        font-size: 1rem;
        padding: 0 .9em .1em;
        border: none;
        border-radius: .3em;
        margin-top: 1.2em;
        align-self: center;
    }
    & #confirm {
        background-color: rgb(0, 197, 0);
    }
    & table {
        margin-top: 2em;
    }
}