* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    background-color: rgb(27, 26, 26);
    color: rgb(240, 240, 240);
    font-family: $font-stack-primary;
}